apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ ca_certificate }}
    server: https://{{ kubernetes_api_server }}
contexts:
- name: local
  context:
    cluster: local
    user: local-admin
current-context: local
users:
- name: local-admin
  user:
    client-certificate-data: {{ admin_client_certificate }}
    client-key-data: {{ admin_client_key }}
