apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ sql_name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ mysql_replica_count }}
  selector:
    matchLabels:
      {{ sql_labels.key }}: {{ sql_labels.value }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{ sql_labels.key }}: {{ sql_labels.value }}
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
          - containerPort: 3306
            name: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: {{ mysql_root_password }}
            - name: MYSQL_DATABASE
              value: {{ mysql_database }}
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: {{ persistent_volume_claim_name }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ sql_service_name }}
  namespace: {{ namespace }}
spec:
  selector:
    {{ sql_labels.key }}: {{ sql_labels.value }}
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ persistent_volume_claim_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ persistent_volume_name }}
  labels:
    {{ pv_labels.key }}: {{ pv_labels.value }}
spec:
  storageClassName: manual
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
